 body {
            /* Используем цвета из темы пользователя Telegram */
            background-color: var(--tg-theme-bg-color, #ffffff);
            color: var(--tg-theme-text-color, #000000);
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
        .user-card {
            background-color: var(--tg-theme-secondary-bg-color, #f0f0f0);
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            text-align: center;
            width: 80%;
        }
        .user-card h1 { font-size: 20px; margin-bottom: 10px; }
        .user-card p { margin: 5px 0; font-size: 16px; }
        .highlight { color: var(--tg-theme-button-color, #248bcf); font-weight: bold; }


#flex_main{
    gap:1%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
#flex_main > div{
    margin: 1%;

}
