 body {
            background-color: var(--tg-theme-bg-color, #ffffff);
            color: var(--tg-theme-text-color, #000000);
            margin: 0;
            padding-top: 50px; /* Отступ сверху вместо центрирования по вертикали */
        }
        .tg-secondary-bg {
            background-color: var(--tg-theme-secondary-bg-color, #f1f1f1) !important;
        }


#flex_main{
    gap:1%;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
#flex_main > div{
    margin: 1%;

}

